<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encryption Tool</title>
</head>
<body>
{{ message }}
<div class="horizontal-split-interface encrypt">
    <div class="input">
        <form action="#">
            <input>
        </form>
    </div>
    <div class="output">
        <div class="output-field">
            <p>In this field your output will be shown</p>
        </div>
    </div>
</div>
<div class="horizontal-split-interface decrypt">
    <div class="input"></div>
    <div class="output"></div>
</div>

</body>
</html>