<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Encryption Tool</title>
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
<h1>Encryption / Decryption tool</h1>
<p>Use this tool to encrypt plain text or to decrypt encrypted text.</p>
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div>
            {% for category, message in messages %}
                <p class="{{ category }}">{{ message }}</p>
            {% endfor %}
        </div>
    {% endif %}
{% endwith %}
<h2>Encrypt</h2>
<div class="horizontal-split-interface encrypt">
    <div class="input">
        <form class="encrypt-input" method="POST" action="/encrypt">
            <label for="plaintext">Input plain text:</label><br>
            <textarea aria-label="Plaintext to encrypt" rows="5" cols="50" id="plaintext" name="plaintext"></textarea>
            <div>
                <p>Choose your passphrase method</p>
                <label><input type="radio" name="mode" value="passphrase" checked> Passphrase</label>
                <label><input type="radio" name="mode" value="keyfile"> Keyfile</label>
            </div>
            <label for="passphrase">Password (Passphrase)</label>
            <input type="password" id="passphrase" name="passphrase">
            <input type="submit" value="Encrypt!">
        </form>
    </div>
    <div class="output">
        <div class="output-field">
            <p>In this field your Encrypted output will be shown</p>
            <textarea aria-label="Encrypted output" rows="5" cols="50" readonly class="encrypt-output">
                {{ enc_output|default('', true) }}
            </textarea>
        </div>
    </div>
</div>
<h2>Decrypt</h2>
<div class="horizontal-split-interface decrypt">
    <div class="input">
        <form class="decrypt-input" method="POST" action="/decrypt">
            <label for="cipherjson">Input your encryptred JSON package</label><br>
            <textarea aria-label="Encrypted data" rows="5" cols="50" id="cipherjson" name="cipherjson"></textarea>
            <div>
                <p>Choose your passphrase method</p>
                <label><input type="radio" name="mode_dec" value="passphrase" checked> Passphrase</label>
                <label><input type="radio" name="mode_dec" value="keyfile"> Keyfile</label>
            </div>
            <label for="passphrase_dec">Password (Passphrase)</label>
            <input type="password" id="passphrase_dec" name="passphrase_dec">
            <input type="submit" value="Decrypt!">
        </form>
    </div>
    <div class="output">
        <div class="output-field">
            <p>In this field your decrypted output will be shown</p>
            <textarea aria-label="Decrypted text" rows="5" cols="50" readonly class="decrypt-output">
                {{ dec_output|default('', true) }}
            </textarea>
        </div>
    </div>
</div>

</body>
</html>